#main_button{
    -fx-background-color: #00a0f6;
    -fx-text-fill: #FFFFFF;
}

.label{
    -fx-text-fill: #00a0f6
}

.text-field, .text-field:focused {
    -fx-border-color: #00a0f6;
    -fx-background-color: #f7f8fa;

    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.hyperlink {
    -fx-focus-traversable: false;
    -fx-max-width: Infinity;
    -fx-alignment: CENTER;
    -fx-text-fill: #00a0f6;
}

.combo-box {
    -fx-background-color: #f7f8fa;
    -fx-border-color: #00a0f6;
    -fx-font-size: 12;
    -fx-font-family: "Arial Narrow";
    -fx-font-style: italic;
}